body {
  font-family: "Inter", sans-serif;
}

.top-2 .top-2__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-top: 90px;
}
.top-2 .text-2 {
  padding: 130px 20px 100px 0;
  text-align: center;
}
.top-2 .text-big {
  margin: 0 0 130px 0;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
  margin-top: 10px;
}
.top-2 .brend {
  padding: 10px 40px 10px 40px;
}

.new .zagolovok-2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  margin: 0;
}
.new .IMG {
  width: 262px;
  height: 275px;
}

@media (max-width: 1030px) {
  .new .IMG {
    height: 200px;
  }
}